* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

#devname, #position {
	font-family: 'Bungee Inline', cursive;
font-family: 'Bungee', cursive;
}

#position {
	letter-spacing: 3px;
}

#firstjumbo {
	padding: 0;
	padding-top: 3vh;
	padding-bottom: 3vh;
}


/*@import "bootstrap-social.less";*/

/*body {
  margin: 0;
  background: #000; 
}*/

.fab {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  /*justify-content:;*/
  text-decoration: none;
  margin: 5px 2px;
  /*height: 50px;
  object-fit: cover;*/
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #fd1d1d;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

.fa-gitlab {
  background: #ff6600;
  color: white;
}

.jumbotron {
	/*border:5px solid white;*/
	background: rgba(0,0,0,0.2);
	/*padding:0;*/
	/*background:rgba(128,128,128,.75);*/
	/*text-align: justify;*/
	/*background-color: transparent;*/
	/*margin-top: 15vh;*/
	/*padding-top: 25vh;*/
	/*padding-bottom: 35vh;*/
	/*background: #617073;*/
	/*background:#596669;*/
}

#capstone1, #capstone2, #capstone3 {
	border-radius: 0;
}

#thirdjumbo {
	padding-bottom:35vh;
}

#portfolio, #home, #skills, #contact, #social {
	/*background: #596669;*/
	/*background-color: transparent;*/
	/*background:url(../videos/programming.mp4);*/
	text-align: center;
	/*height: 100vh;*/
	z-index: 1;
	margin-bottom:20vh;
	height:10vh;
}

.navbar {
	/*background:#393E4A;*/
	/*background: #617073;*/
	/*background:url(../videos/programming.mp4);*/
	z-index: 1;
	color: white;
	overflow: hidden;
}

.btn-container {
	text-align: center;
}

/*button {
	object-position: center;
}*/

label {
	/*text-align: justify;*/
}

#skill1, #skill2, #skill3 {
	text-align: justify;
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}*/

/*h4 {
	text-align: left;
}*/

/*#name, #developer {
	overflow: hidden;
}*/

textarea {
	margin: 0 auto;
	width: 100%;
	resize: none;
}

.avatar{
	/*float: left;
	width: 200px;*/
	/*height: 150px;*/
	/*margin-left: 75px;*/
	border-radius: 50%;
	object-fit: cover;
	/*background-color: #D6E9FE;*/
}

#github {
	object-fit: cover;
	border-radius: 50%;
}

#myavatar {
	overflow: hidden;
}

/*#myavatar, #avatartext {
	float: left;
	display:inline-block;
}

/*#avatartext {
	margin: 10px;
}*/

#video-background {
	/*background: url("../videos/programming.mp4");*/
	/*background-size: cover;*/
	/*background-color: red;*/
	/*right: 0;
    bottom: 0;*/
    /* opacity:1;*/
    /*right: 0; 
  bottom: 0;*/
  /*height: auto;*/
	/*position: fixed;*/
    /*min-width: 100%; 
    min-height: 100%;*/

   /*position: fixed;
  min-width: 100%; 
  min-height: 100%;
  width: 100%; 
  height: 100vh;
  z-index: -100;*/
  	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 /*background: url(../videos/programming.mp4) no-repeat;*/
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

/*.fadeInRight {
	animation-delay: 5s;
}*/

footer {
	/*background: green;*/
	/*background: bg-; /*bluish green*/
	/*background: #8E9AAF;*/
	/*background: #617073;*/
	z-index: 1;
	/*background:url(../videos/programming.mp4);*/
	text-align: center;
	height: 75px;
	/*float: left;*/
	width: 100%;
	/*float: right;
	width: 800px;*/
	/*margin-left: 200px;*/
}

body {
	margin: 0px;
}

/*#firstjumbo {
	padding: 3px;
}*/

#home, #portfolio, #skills, #contact {
	/*padding: 30px;*/
	/*box-sizing: border-box;*/
	/*margin-bottom:20vh;*/
	/*height:25vh;*/
} 

footer {
	padding: 30px;
	text-align: center;
}

a:link, a:visited {
	color: white;
	text-decoration: none;
 }

/*#portfolio, #home, #skills, #contact {
	height:25vh;
}*/
/*.clear:after {
	display: block;
	content: "";
	clear: both;
}*/

/*Desktop*/

/*@media (max-width: 575.98px) {
	#video-background
}*/

/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	/*@import "bootstrap-social.less";*/
} 

/*Mobile*/
@media only screen and (max-width: 400px) {
	#devname, #position, #desc, #discover {
		text-align: center;
	}
	/*@import "bootstrap-social.less";*/
	#video-background {
		display: none;
	}
	body {
		background-image: url(../images/mb-bg.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		width: auto ;
		  max-width: 100% ;
		  /*height: auto ;*/
	}
	#home, #portfolio, #skills, #contact {
		/*padding: 30px;*/
	text-align: center;
	}
/*	background-image {
		width: auto;
	  max-width: 100%;
	  height: auto;
	}*/
}